<div class="actions">
  <button mat-button color="primary" (click)="onCreate()">Добавить заказ</button>
  <input matInput [(ngModel)]="searchQuery" (ngModelChange)="onSearch()" placeholder="Поиск...">
</div>
<app-table [data]="orders"
           [columns]="columns"
           [columnNames]="columnNames"
           (edit)="onEdit($event)"
           (delete)="onDelete($event)">
</app-table>
<div class="pagination">
  <button (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 1">Предыдущая</button>
  <span class="page-info">Страница {{ currentPage }} из {{ getTotalPages() }}</span>
  <button (click)="onPageChange(currentPage + 1)" [disabled]="(currentPage * itemsPerPage) >= totalCount">Следующая</button>
</div>
