<div class="reviews">
  <div *ngFor="let review of reviews" class="review-card">
    <div class="review-content">
      <p class="review-text">{{ review.comment }}</p>
      <div class="rating">
        <span *ngFor="let star of getStarRating(review.rating)">&#9733;</span>
        <span *ngFor="let star of getStarRating(5 - review.rating)">&#9734;</span>
      </div>
    </div>
  </div>

  <div class="pagination-container">
    <button class="pagination-button" (click)="onPageChangeReviews(currentPageReviews - 1)" [disabled]="currentPageReviews === 1">
      &laquo;
    </button>

    <button *ngFor="let page of getPaginationNumbersReviews(totalCountReviews, itemsPerPageReviews)"
            (click)="onPageChangeReviews(page)"
            class="pagination-button"
            [class.active]="page === currentPageReviews">
      {{ page }}
    </button>

    <button class="pagination-button"
            (click)="onPageChangeReviews(currentPageReviews + 1)"
            [disabled]="currentPageReviews === getTotalPagesReviews()">
      &raquo;
    </button>
  </div>

