<h2 mat-dialog-title>{{ data.title }}</h2>

<mat-dialog-content>
  <form [formGroup]="form">
    <ng-container *ngFor="let field of data.fields">
      <div *ngIf="field.type !== 'file' && field.type !== 'checkbox'" class="full-width">
        <ng-container [ngSwitch]="field.type">
          <mat-form-field *ngSwitchCase="'text'" appearance="fill" class="full-width">
            <mat-label>{{ field.label }}</mat-label>
            <input matInput [formControlName]="field.name" [type]="field.type" />
          </mat-form-field>
          <mat-form-field *ngSwitchCase="'textarea'" appearance="fill" class="full-width">
            <mat-label>{{ field.label }}</mat-label>
            <textarea matInput [formControlName]="field.name"></textarea>
          </mat-form-field>
          <div *ngSwitchCase="'wysiwyg'" class="full-width">
            <label>{{ field.label }}</label>
            <quill-editor [formControlName]="field.name" class="quill-editor"></quill-editor>
          </div>
          <mat-form-field *ngSwitchCase="'number'" appearance="fill" class="full-width">
            <mat-label>{{ field.label }}</mat-label>
            <input matInput [formControlName]="field.name" [type]="field.type" />
          </mat-form-field>
          <mat-form-field *ngSwitchCase="'date'" appearance="fill" class="full-width">
            <mat-label>{{ field.label }}</mat-label>
            <input matInput [formControlName]="field.name" [type]="field.type" />
          </mat-form-field>
        </ng-container>
      </div>

      <div *ngIf="field.type === 'checkbox'" class="full-width">
        <mat-checkbox [formControlName]="field.name">{{ field.label }}</mat-checkbox>
      </div>
      <div *ngIf="field.type === 'file'" class="full-width">
        <label>{{ field.label }}</label>
        <input type="file"
               (change)="onFileSelected($event)"
               multiple />
      </div>
    </ng-container>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Отмена</button>
  <button mat-raised-button
          color="primary"
          [disabled]="form.invalid"
          (click)="onSubmit()">
    Сохранить
  </button>
</mat-dialog-actions>
