<h2 mat-dialog-title>{{ data.title }}</h2>

<mat-dialog-content>
  <form [formGroup]="form">
    <ng-container *ngFor="let field of data.fields">
      <mat-form-field *ngIf="field.type !== 'file' && field.type !== 'checkbox'" appearance="fill" class="full-width">
        <mat-label>{{ field.label }}</mat-label>
        <ng-container [ngSwitch]="field.type">
          <input *ngSwitchCase="'text'"
                 matInput
                 [formControlName]="field.name"
                 [type]="field.type" />
          <textarea *ngSwitchCase="'textarea'"
                    matInput
                    [formControlName]="field.name"></textarea>
          <input *ngSwitchCase="'number'"
                 matInput
                 [formControlName]="field.name"
                 [type]="field.type" />
          <input *ngSwitchCase="'date'"
                 matInput
                 [formControlName]="field.name"
                 [type]="field.type" />
          <!-- Добавьте другие типы здесь -->
        </ng-container>
      </mat-form-field>
      <div *ngIf="field.type === 'checkbox'">
        <mat-checkbox [formControlName]="field.name">{{ field.label }}</mat-checkbox>
      </div>
      <div *ngIf="field.type === 'file'">
        <label>{{ field.label }}</label>
        <input type="file"
               (change)="onFileSelected($event)"
               multiple />
      </div>
    </ng-container>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Отмена</button>
  <button mat-raised-button
          color="primary"
          [disabled]="form.invalid"
          (click)="onSubmit()">
    Сохранить
  </button>
</mat-dialog-actions>
