.completed-orders {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 2rem 0;
}

.completed-order-card {
  background-color: white;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
  width: 300px;
}

.order-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
}

  .order-images div {
    flex: 1 0 48%;
    margin: 5px;
    text-align: center;
  }

  .order-images img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
