.services-container {
  max-width: 900px;
  margin: 2rem auto;
  padding: 1rem;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

  .services-container h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #333;
  }

.service-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f8f9fa;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

  .service-item label {
    flex-grow: 1;
    font-size: 16px;
    color: #333;
    padding-left: 10px;
  }

  .service-item input[type="number"] {
    width: 60px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
  }

.total-cost {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  margin-top: 20px;
}

button {
  display: block;
  width: 100%;
  padding: 12px;
  font-size: 16px;
  background: #004b7a;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

  button:hover {
    background: #0a2748;
  }

/* Стили для MatSnackBar */
.custom-snackbar {
  background-color: #fff !important; /* Белый фон */
  color: #000 !important; /* Черный текст */
  border-radius: 3px !important;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important;
  padding: 10px 20px !important;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-left: 5px solid #49d761 !important; /* Зеленая полоса */
}

  .custom-snackbar .icon {
    font-size: 28px;
    color: #49d761 !important; /* Зеленый цвет */
  }

  .custom-snackbar .icon-times {
    font-size: 28px;
    color: #c3c2c7 !important;
    cursor: pointer;
  }

  .custom-snackbar .subject h3 {
    color: #000 !important; /* Черный текст */
    font-weight: bold;
    margin-bottom: 5px;
  }

  .custom-snackbar .subject p {
    color: #909092 !important; /* Серый текст */
  }

  /* Стили для ошибки */
  .custom-snackbar.error-snackbar {
    border-left: 5px solid #f44336 !important; /* Красная полоса */
  }

  .custom-snackbar .error-icon {
    color: #f44336 !important; /* Красный цвет */
  }
