<div class="admin-dashboard">
  <h1>Панель администратора</h1>
  <div class="admin-actions">
    <button routerLink="/admin/manage-contacts">Управление контактами</button>
    <button routerLink="/admin/manage-services">Управление услугами</button>
    <button routerLink="/admin/manage-reviews">Управление отзывами</button>
    <button routerLink="/admin/manage-main">Управление главной информацией</button>
    <button routerLink="/admin/manage-completed-orders">Управление выполненными заказами</button>
    <button routerLink="/admin/manage-users">Управление пользователями</button> <!-- Новый маршрут -->
  </div>
</div>
