.admin-dashboard-container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  color: #333;
}

.admin-actions {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  flex: 1;
  min-width: 200px; /* Установим минимальную ширину для кнопок */
  max-width: 250px; /* Установим максимальную ширину для кнопок */
}

  button:not(:last-child) {
    margin-right: 10px; /* Добавим разделители между кнопками */
  }

  button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
  }

  button:focus {
    outline: none;
  }

  button:active {
    background-color: #003f7f;
    transform: translateY(0);
  }
